#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC    &kp N1     &kp N2  &kp N3    &kp N4     &kp N5  &none                                                              &kp EQUAL  &kp N6  &kp N7    &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E     &kp R      &kp T   &none                                                              &none      &kp Y   &kp U     &kp I      &kp O     &kp P     &kp BSLH
&kp LCTRL  &kp A      &kp S   &kp D     &kp F      &kp G   &none            &kp LGUI  &kp LCTRL    &none  &none               &none      &kp H   &kp J     &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C     &kp V      &kp B                              &kp LALT     &none                                 &kp N   &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&none      &kp GRAVE  &none   &kp LEFT  &kp RIGHT                 &kp BSPC  &none     &none        &none  &kp RET  &kp SPACE                     &kp DOWN  &kp UP     &kp LBKT  &kp RBKT  &none
            >;
        };
    };
};
